$app_topBar_height: 30px;
$app_menu_width: 13rem;
$app_widget_margin: 2rem;

$theme_backgroundColor: #25292e;
$theme_widgetBackgroundColor: #2f3438;
$theme_textColor: #fff;
$theme_accentColor1: #3fa5f6;
$theme_accentBackground1: #264a5e;
$theme_accentColor2: #e74c58;
$theme_accentBackground2: #59363e;